name: CI - train and log
on:
  push:
    branches:
      - main
      - staging

jobs:
  train:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: "http://23.22.232.131:5000"

    steps:
    # 1️⃣ Checkout code
      - name: Checkout repo
        uses: actions/checkout@v4

      # 2️⃣ Setup Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4️⃣ Download dataset via DVC
      - name: Pull data via DVC
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          pip install dvc[s3]
          #dvc pull

      # 5️⃣ Train the model
      - name: Train model
        env:
          MLFLOW_TRACKING_URI: "http://23.22.232.131:5000"
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          python src/train.py

      # 6️⃣ Run unit tests
      - name: Run API tests
        run: |
          pip install fastapi[all] requests pytest
          #PYTHONPATH=. pytest tests/test_app.py --maxfail=1 --disable-warnings -q

      # 5️⃣ Docker login
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 6️⃣ Build Docker image
      - name: Build Docker image
        run: docker build -t dockerjrp/wine-api:${{ github.sha }} .

      # 7️⃣ Push Docker image
      - name: Push Docker image
        run: |
          docker tag dockerjrp/wine-api:${{ github.sha }} dockerjrp/wine-api:latest
          docker push dockerjrp/wine-api:${{ github.sha }}
          docker push dockerjrp/wine-api:latest
      
      - name: Deploy to Dev EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.DEV_HOST }}
          username: ${{ secrets.DEV_USER }}
          key: ${{ secrets.DEV_SSH_KEY }}
          script: |
            echo "Stopping old container if exists..."
            docker stop wine-api || true
            docker rm wine-api || true
            echo "Pulling latest Docker image..."
            docker pull dockerjrp/wine-api:latest
            echo "Starting new container..."
            sudo docker run -d \
            --name wine-api \
            -p 5000:5000 \
            -e AWS_ACCESS_KEY_ID=<your_key> \
            -e AWS_SECRET_ACCESS_KEY=<your_secret> \
            dockerjrp/wine-api:latest
            echo "Deployment complete! Running at port 5000"


      # 8️⃣ Optional deploy - it can be production EC2 server or any host
      #- name: Deploy
        #if: github.ref == 'refs/heads/main'
        #run: |
          #ssh -o StrictHostKeyChecking=no ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }} \
          #"docker pull dockerjrp/wine-api:latest && docker-compose -f docker-compose.prod.yml up -d"
      
      #  Optional configure aws
      #- name: Configure AWS Credentials
      #  uses: aws-actions/configure-aws-credentials@v3
      #  with:
      #    aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #    aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #    aws-region: us-east-1
      
      # 10 Optional deploy - it can be production EC2 server or any host or ecr
      #- name: Login to Amazon ECR
      #  id: login-ecr
      #  uses: aws-actions/amazon-ecr-login@v2

      # 11 Optional deploy to ecr
      #- name: Build and Push Docker image
      #  run: |
      #    docker build -t wine-api .
      #    docker tag wine-api:latest ${{ steps.login-ecr.outputs.registry }}/wine-api:latest
      #    docker push ${{ steps.login-ecr.outputs.registry }}/wine-api:latest
